h1 {
	color: #377ba8;
}

h3 {
	color: grey;
}

#app {
	position: relative;
	left: 20px;
}

label {
	padding: 0 0 0 1rem;
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 0px;
}

input[type="radio"] {
	opacity: 100;
	vertical-align: middle;
	margin-top: 0 !important;
}

#next-question {
	position: relative;
	right: 0;
}

ul {
	list-style-type: none;
	padding-bottom: 0px;
}

#navbarMenuHeroA {
	float: right;
}

.pagination .page-link {
	background: #ffffff;
	color: #535a9c;;
}

.page-item.active .page-link {
	background: #636cb3;
	border-color: #535a9c;
	color: white;
}

div.right-align {
	text-align: right;
}

.exam-progress {
	width: 100%;
}

.progress {
	align-content: center;
	width: 97%;
	height: 20px;
}

.progress-bar {
	margin-top: 0px;
	width: 0px;
}
.link-border {
	border: white solid 1px;
	border-radius: 10px;
}
.form-check:not(.form-switch) .form-check-input[type="checkbox"],
.form-check:not(.form-switch) .form-check-input[type="radio"] {
	margin-top: 5px !important;
	position: absolute ;

}

span.flag {
	position: absolute;
  z-index: 1;
  padding: 0px 0px 20px 20px;
  font-size: 10px;
}
#flag {
	text-align: center;

}
