{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load webpack_loader %}

{% block content %}

<div class="container-fluid">
  <h1 class="title">{% translate "Welcome,"%} {{ user.first_name }}!
  </h1>
  <hr>
  {% translate "Name:"%} {{ user.first_name }} <br>
  {% translate "Lastname:"%} {{ user.last_name }}<br>
  {% translate "Joined on:"%}{{ user.date_joined }}<br>
  <br>
  {% if user.required_extra_time %}
  {% translate "Require extra time for exams? Yes" %} <br>
  {% endif %}
  <a href="{% url 'edit-profile' %}">{% translate "Edit details" %}✏️</a>
  <hr>
  {% if exam_ids %}
  <h2>{% translate "Progress report on all your subjects."%}</h2>
  <p>{% translate "It shows your progress over time for each subject you took exams on." %}</p>

  <div id="chart" data-exam-ids="{{ exam_ids }}"></div>
  <div class="right-align">
    {% if exams_count > 2 %}
    <a href="{% url 'progress-charts' %}">{% translate "See all charts" %}</a>
    {% endif %}
  </div>
  <div>{% translate "Here's a history of all your exams:" %}</div>
  <div>
    <table class="table table-sm table-striped">
      <thead class="thead-dark">
        <tr>
          <th>{% translate "Date" %}</th>
          <th>{% translate "Exam Name"%}</th>
          <th>{% translate "Your grade"%}</th>
        </tr>
      </thead>
      {% for attempt in page_obj %}
      <tr>
        <td>{{ attempt.created }}</td>
        <td>{{ attempt.exam.subject.name }} {{ attempt.exam.name }}</td>
        <td>{{ attempt.grade }}</td>
      </tr>
      {% endfor %}
    </table>
    {% include 'includes/pagination.html' with visible=4 %}
  </div>
</div>

<div class="d-flex justify-content-center">{{ pagination.links }}</div>
{% else %} {% translate "You haven't taken any exams yet" %}.
<a href="/start">{% translate "Go check them out!"%}</a>
{% endif %}
{% render_bundle 'chart' %}
{% endblock %}
